@import "variables";
@import "mixins";

@media(max-width :767px){
  .main-header{
    img{
      height: 50px;
    }
    #social-media{
      li{
        a{
          height: 20px !important;
          width: 20px !important;
          font-size: 10px !important;
        }
      }
    }
  }

  #slide1{
    .content{
      height: 175px !important;
    }
  }

  #slide2{
    height: 600px !important;
    .content{
      bottom: 130px !important;
      height: 80px !important;
      .container{
        p{
          padding: 10px 5px !important;
        }
      }
    }
  }

  #slide7{
    height: 400px !important;
  }
  #slidepre2{
    height: 600px !important;
    .content{
      bottom: 130px !important;
      height: 465px !important;
      p{
        p{
          padding: 10px 5px !important;
        }
      }
    }
  }

}


@media(max-width: 768px) {
  #slide1{
    .grid{
      .grid-item{
        width: 20% !important;
      }
    }
  }
  #slide5{
    .grid{
      .grid-item{
        width: 50% !important;
      }
    }
  }
}


@media(max-width :1024px){
  .main-header{
    .nav-menu{
      padding-top: 40px !important;
    }
    img{
      height: 60px;
    }
    #social-media{
      li{
        a{
          height: 30px !important;
          width: 30px !important;
          font-size: 10px !important;
        }
      }
    }
  }
  .contacts{
    .social-media{

      li{
        a{
          height: 35px !important;
          width: 35px !important;
          font-size: 20px;
          line-height: 35px !important;
        }
      }
    }
  }
}