.content-cal{
  background-color: $noir_galerie;
  h2{
    text-align: center;
    color: $orange;
  }
  .zoom{
    .calendrier{
      background-color: rgba(#fff,0.7) !important;
      padding: 15px 20px 25px 20px;
      margin-bottom: 30px;
      h5{
        color: $orange;
      }
      button{
        float: right;
        background-color: $orange;
        color: #fff;
        height: auto;
        width: 100px;
        margin: 10px 0;
        border: none;
        padding: 5px;
        position: relative;
        bottom: 20px;
      }
    }
  }
}