#slide{
  background-color: $noir_galerie;

  img{
    padding: 40px 0 10px 0;
    @include transition(1.5s);
  }
  img:last-child{
    filter: blur(2px) !important;
    opacity: 0.7;
  }
  img:hover{
    @include transform(1.5);
    filter: blur(0) !important;
    opacity: 1;
  }
  h2{
    text-align: center;
    color: $orange;
  }
}
